
<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
            user: current_user
        ).html_safe %>
    </script>
<% end %>


<script>
    console.log(`
========================================================================
=  =  = ====   ===    ========  =  = ===  =  =======    ===  =  ==  = ==
=        ==  =  ==  =  =======        ==  =  =======  =  ==  =  ==     =
=  =  =  =====  ==  =  =======  =  =  ===    =======  =  ==  =  ==  =  =
=  =  =  ===    ==    ========  =  =  =====  =======    ===  =  ==  =  =
=  =  =  ==  =  ==  ==========  =  =  ==  =  =======  =====  =  ==  =  =
=  =  =  ===    ==  ==========  =  =  ===   ========  ======    ==  =  =
========================================================================
    `)  
</script>


<main id="root">if you see this the root static page rendered</main>