 @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


//IMPROVEMENT: infinite scrolling

#feedIndexContainer {
    width: 95%;
    height: 800px;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    overflow: scroll;
    margin-left: 30px;
}

#feedIndexContainer .activityFeedTitle{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}


#feedIndexContainer .activityFeedDateContainer {
    display: flex;
    width: 500px;
}

#feedIndexContainer .activityFeedDate{
    font-size: 16px;
    margin-bottom: 15px;
    color: #6d717a;
}

#feedIndexContainer .statusForm {
    width: 85%;
    height: 160px;
    margin-top: 20px;
    border-bottom: .5px solid lightgray;
    margin-bottom: 50px;
    display: flex;
}


#feedIndexContainer .statusFormFields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


#feedIndexContainer .statusForm .statusProfPic {
    // hardcoded Jesse's face:
    // background-image: asset-data-url("profile_pic_stand_in.png");
    background-image: asset-data-url("user-2.png");
    background-size: cover;
    height: 50px;
    width: 64px;
    border: .5px solid lightgray;
}

#feedIndexContainer .statusForm .statusSubmit {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 120px;
    border-left: .5px solid lightgray;
    color: white;
    background-color: #ff8714;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    box-shadow: .5px .5px .5px lightgrey;
}

#feedIndexContainer .statusForm .statusText {
    width: 90%;
    border: 1px solid lightgray;
    height: 100px;
    padding: 16px;
    font-size: 13px;
    border-radius: 4px;
    box-shadow: .5px .5px .5px lightgrey;
}

