 @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


//IMPROVEMENT: infinite scrolling

#feedIndexContainer {
    width: 95%;
    height: 800px;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-bottom: 20px;
    overflow: scroll;
    margin-left: 30px;

    .scrollDownMsg {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .greetingContainer {
            display: flex;
            margin-bottom: 20px;
        }

        p {
            font-size: 24px;
            font-weight: bold;
        }

        span {
            font-size: 20px;
        }

        .waveEmoji {
                background-image: asset-data-url("hand_waving_emoji.png");
                width: 30px;
                height: 30px;
                background-size: cover;
                margin-right: 10px;
            }

        .scrollDownIcon {
                background-image: asset-data-url("scroll_down_icon.png");
                width: 30px;
                height: 30px;
                background-size: cover;
                margin-right: 10px;
                margin-top: 30px;
        }
    }
}

#statusFormContainer .activityFeedDateContainer {
    width: 34%;
    z-index: 3;
    position: absolute;
    margin-left: 10%;
}

#statusFormContainer .activityFeedDate{
    font-size: 16px;
    margin-bottom: 15px;
    color: #6d717a;
}

#statusFormContainer .statusForm {
    width: 48%;
    height: 160px;
    padding-top: 20px;
    border-bottom: .5px solid lightgray;
    display: flex;
    position: absolute;
    background-color: white;
    margin-left: 3%;
    padding-right: 4%;
    z-index: 2;
}


#statusFormContainer .statusFormFields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


#statusFormContainer .statusForm .statusProfPic {
    // hardcoded Jesse's face:
    background-image: asset-data-url("profile_pic_stand_in.png");
    // background-image: asset-data-url("user-2.png");
    background-size: cover;
    height: 60px;
    width: 66px;
    border: .5px solid lightgray;
}

#statusFormContainer .statusForm .statusSubmit {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 54px;
    width: 108px;
    border-left: .5px solid lightgray;
    color: white;
    background-color: #ff8714;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    box-shadow: .5px .5px .5px lightgrey;
}

#statusFormContainer .statusForm .statusSubmit:hover {
        background-color: rgb(254, 162, 76);
        cursor: pointer;
    }

#statusFormContainer .statusForm .statusText {
    width: 90%;
    border: 1px solid lightgray;
    height: 100px;
    padding: 16px;
    font-size: 13px;
    border-radius: 4px;
    box-shadow: .5px .5px .5px lightgrey;
}

#statusFormContainer .collapseContainer {
    width: 100%;
}

.collapse{
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 4%;
  background-image: asset-data-url("compress.png");
  background-size: cover;
  width: 30px;
  height: 30px;

}
.collapse + input{
  display: none; /* hide the checkboxes */
}
.collapse + input + div{
  display:block;
}
.collapse + input:checked + div{
  display:none;
}

