 @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


#homeFeed {
    display: flex;
    width: 100%;
    justify-content: center;
}

#feedIndexContainer ul {
    list-style: none;
    margin-top: 190px;
    margin-bottom: 100px;
}

#feedIndexContainer li {  
    width: 600px;
    border: .5px lightgray solid;
    box-shadow: 1px 1px 1px lightgray;
    height: 250px;
    margin-bottom: 20px;
}

#feedIndexContainer li header {
    height: 20%;
    color: rgb(34, 38, 40);
    text-decoration: none;
    border-bottom: .5px solid lightgray;
}

#feedIndexContainer .routeCard header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
}

//WORKOUT CARDs:
#feedIndexContainer .workoutCard header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;
}

#feedIndexContainer .workoutCard header .workoutTitle {
    margin: 2.5px;
}

#feedIndexContainer .workoutCard header .workoutNotes {
    font-size: 12px;
    margin: 2.5px;
}

#feedIndexContainer li section {
    background-color: #f0f2f4;
    border-bottom: .5px solid lightgray;
    height: 65%;
}

//MAP:
#feedIndexContainer .routeCard .mapInCard {
    width: 50%;
    height: 100%;
}

#feedIndexContainer .routeCard .mapImage {
    width: 110.5%;
    //99.7% to maintain inside of border
    height: 99.7%;
    border-right: .5px solid lightgray;
}

#feedIndexContainer .workoutCard .mapInCard {
    width: 30%;
    height: 100%;
}

#feedIndexContainer .workoutCard .mapImage {
    //this maintains the border at the bottom and fills whole right side of card.  might have some unforeseen consequences across different screens etc
    width: 112.5%;
    height: 99.4%;
    border-left: .5px solid lightgray;
}   


#feedIndexContainer header .link {
    color: #2f98d9;
    text-decoration: none;
}

#feedIndexContainer  header .link:hover {
    cursor: pointer;
    text-decoration: none;
    color: #92BFDD
}

#feedIndexContainer header .userName {
    color: #2f98d9;
    text-decoration: none;
}

#feedIndexContainer  header .userName:hover {
    cursor: pointer;
    text-decoration: none;
    color: #92BFDD
}

#feedIndexContainer li .routeCardSection .sectionLink {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(34, 38, 40);
    border-left: .5px solid lightgray;
}

#feedIndexContainer li .workoutCardSection .sectionLink {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: rgb(34, 38, 40);
    border-left: .5px solid lightgray;
}

#feedIndexContainer .workoutCardSection .avgPaceInCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#feedIndexContainer .routeCardSection .distanceInCard {
    display: block; 
    margin-left: 133px;
}

#feedIndexContainer .workoutCardSection .distanceInCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: .5px solid lightgray;
    padding-right: 45px;
    padding-left: 44px;
}

#feedIndexContainer li section .sectionlink div {
    background-color: #f0f2f4;
    width: 50%;
}

#feedIndexContainer .distanceContainer {
    display: flex;
}

#feedIndexContainer .distanceTitle {
    font-size: 16px;
}

#feedIndexContainer .distanceValue {
    font-size: 40px;
    font-weight: bold;
}

#feedIndexContainer .mileTag {
    font-size: 12px;
    font-weight: lighter;
    align-self: center;
    margin-left: 4px;
}

#feedIndexContainer li section .sectionlink .avgPaceInCard {
    display: block;
    border-left: .5px solid lightgray;
}


#feedIndexContainer .avgPaceContainer {
    display: flex;
}

#feedIndexContainer .avgPaceTitle {
    font-size: 16px;
}

#feedIndexContainer .avgPaceValue {
    font-size: 40px;
    font-weight: bold;
}

#feedIndexContainer .mileTag {
    font-size: 12px;
    font-weight: lighter;
    align-self: center;
    margin-left: 4px;
}

#feedIndexContainer li footer {
    background-color: #f0f2f4;
    display: flex;
    justify-content: space-between;
    height: 15%;
    align-items: center;
    border-left: .5px solid lightgray;
    border-bottom: .5px solid lightgray;
}

.daysAgo {
    font-size: 12px;
    margin-right: 15px;
    color: #0075bf;
}

#feedIndexContainer .leftSideFooter {
    margin-left: 15px
}

#feedIndexContainer .leftSideFooter button {
    border-radius: 4px;
    color: rgb(34, 38, 40);
    transition: background-color 0.5s;
    border: none;
}

#feedIndexContainer .likeButton {
    margin-right: 10px;
}

#feedIndexContainer .bottomMsg {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    // color: #2f98d9;
}



// #feedIndexContainer .cardProfilePic{
//    background-size: cover;
//    height: 40px;
//    width: 40px;
//    background-image: asset-data-url("profile_pic_stand_in.png");
//    border-radius: 50%;
// //    hardcoding Jesse's face:
//    c
// }

