
//IMPROVEMENT: infinite scrolling

#feedIndexContainer {
    width: 66%;
    height: 800px;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    overflow: scroll;
}

#feedIndexContainer .activityFeedTitle{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}


#feedIndexContainer .activityFeedDateContainer {
    display: flex;
    width: 500px;
}

#feedIndexContainer .activityFeedDate{
    font-size: 16px;
    margin-bottom: 15px;
    color: #6d717a;
}

