@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#loginFormContainer {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    position: relative;
    height: 700px;
}

#loginFormContainer .signupLinkContainer {
    display: flex;
    width: 320px;
    position: relative;
    height: 36px;
}



#loginFormContainer .signupLink {
    margin-bottom: 10px;
    right: 0px;
    text-decoration: none;
    color: gray;
    position: absolute;
}

#loginFormContainer .signupLink:hover {
    color: #9297A3;
    cursor: pointer;
}

#loginFormContainer p {
    color: gray;
    padding: 10px;
}



//TO DO: figure out the line under the OR
// #loginFormContainer .signupForm {
//     // border-top: 1px solid gray;
// }

#loginFormContainer input {
    height: 50px;
    font-size: 16px;
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 12px;
    line-height: 50px;
}

#loginFormContainer .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loginFormContainer .loginButton {
    width: 120px;
    line-height: 23px;
    height: 46px;
    color: white;
    text-align: center;
    align-self: center;
    background-color:rgb(29, 221, 124);
    border: none;
    transition: background-color 0.5s;
    border-radius: 4px;
        margin-top: 10px;

}

#loginFormContainer .forgotPassword:hover {
    cursor: pointer;
    text-decoration: underline;
}


#loginFormContainer .loginButton:hover {
    cursor: pointer;
    background-color:rgb(50, 180, 124);
}

#loginFormContainer .sessionErrors {
    display: flex;
    justify-content: center;
    width: 100%;
}

#loginFormContainer .sessionError {
    color: red;
    list-style: none;
}







