#header .logo {
   height: 64px;
   width: 60px;
   left: 100px;
    position: relative;
   background-image: asset-data-url("mapmypun_white_background");
   background-size: cover;
 }

.legal .logo {
    height: 34px;
    width: 85px;
   right: 56px;
    position: relative;
   background-image: asset-data-url("mapmypun_white_background");
   background-size: cover;
}

.activitiesSection .logo {
   height: 64px;
   width: 161px;
   left: 100px;
    left: 40px;
    position: relative;
   background-image: asset-data-url("logo_new_gray_footer_background");
   background-size: cover;
 }

 .logo:hover {
    cursor: pointer;
    text-decoration: none;
 }

//  logo link:
//  logomakr.com/3Hoq8A
