#map {
    width: 1000px;
    height: 600px;
 };

 #map:hover {
    //  this isn't working for some reason...
    cursor: crosshair;
 };

.createRouteMapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 40px;
}