 @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


#myDashboardContainer {
    width: 95%;
    height: 600px;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    overflow: scroll;
    margin-left: 50px;
    color:#444444
}

#myDashboardContainer .dashboardWorkouts {
    margin-top: 20px;
    width: 100%;
}

#myDashboardContainer .dashboardRoutes{
    margin-top: 20px;
    width: 100%;
}

#myDashboardContainer .dashboardWorkouts ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


// ******

#myDashboardContainer h1 {
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    border-bottom: .5px solid lightgray;
     width: 90%;
}

#myDashboardContainer li {
    margin-bottom: 10px;
    margin-right: 10px;
    margin: 0px;
}

// MY DASHBOARD WORKOUT:

#myDashboardContainer .dashboardRoutes ul {
    list-style: none;
    display: flex;
}

#myDashboardContainer .workoutItem {
    display: flex;
    border-bottom: 2px solid lightgray;
    margin-top: 10px;
    padding: 20px
}

#myDashboardContainer .workoutItem div {
    padding-right: 40px;
    padding-left: 40px;
}

#myDashboardContainer .workoutMap {
    padding-right: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;
}

#myDashboardContainer .adjacentRightOfMap{
    display: flex;
    flex-direction: column;
    border-right: .5px solid lightgray;
}

#myDashboardContainer .distanceNumberAndMi {
    display: flex;
}

#myDashboardContainer .distanceMi {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

#myDashboardContainer .workoutName {
    color: #2f98d9;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 20px;
}

#myDashboardContainer .workoutName:hover {
    cursor: pointer;
    text-decoration: none;
    color: #92BFDD
}

#myDashboardContainer .distanceNumber {
    color:rgb(34, 38, 40);
    font-size: 58px;
}

#myDashboardContainer .distanceTitle {
    color: #444444  ;
    margin-bottom: 5px;
}

#myDashboardContainer .workoutDuration {
    display: block;
    flex-direction: column;
    border-right: .5px solid lightgray;
}

#myDashboardContainer .durationTitle {
    color: #6d717a;
    margin-bottom: 5px;
}

#myDashboardContainer .durationValue {
    color: #444444; 
    font-size: 20px;
    color:rgb(34, 38, 40);
}

#myDashboardContainer .dateAndActivity {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    justify-content: flex-start;
}

#myDashboardContainer .completedDate {
    padding-bottom: 20px;
    border-bottom: .5px solid lightgray;
    font-size: 24px;
}

.activityTypeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}


#myDashboardContainer .activityType {
    margin-top: 5px;
    color: #444444; 
    font-size: 24px;
}

#myDashboardContainer .activityTypeTitle {
    margin-top: 10px;
    color: #6d717a; 
    font-size: 20px;
}




//********

// MYDASHBOARROUTE:

#myDashboardContainer .routeItem {
    display: flex;
    margin-right: 10px;
    width: 138px;

}


#myDashboardContainer .routeItemContent {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    border: .5px solid lightgray;
}



#myDashboardContainer .routeItemContent ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



#myDashboardContainer .routeItemMap {
    width: 138px;
    height: 135px;
}

#myDashboardContainer .routeItemMapOverlay {
    display: block;
    width: 120.5px;
    height: 40px;
    color: #444444;
    background-color: white;
    opacity: .5px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 2px;
    bottom: 10px;
    padding: 2px;

}

#myDashboardContainer .routeItemMapOverlay p {
    font-weight: bold;
}

#myDashboardContainer .routeItemMapOverlay .routeTitle {
    padding-left: 5px;
}

#myDashboardContainer .routeItemMapOverlay .distanceCount {
    display: flex;
    padding-left: 5px;
}


