 @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


#profileOverview {
    box-shadow: 1px 1px 1px lightgrey;
    height: 140px;
    width: 70%;
    display: flex;
    flex-direction: column;
    border: .5px solid lightgray;
    background-color: #f0f2f4;
    color: rgb(34, 38, 40);
    font-family: Roboto;
    margin-left: 20px;
}

#profileOverview .flexedTop {
    display: flex;
    border-bottom: .5px solid lightgray;
    align-items: center;
}

#profileOverview .profilePic {
    // background-image: asset-data-url("user-2.png");
    // hardcoded Jesse's face:
    background-image: asset-data-url("profile_pic_stand_in.png");
    background-size: cover;
    height: 99%;
    width: 140px;
    border-left: .5px solid lightgray;
    border-right: .5px solid lightgray;
}

#profileOverview .flexedTop h1 {
    font-size: 18px;
}


#profileOverview .profilePic h1 {
    padding: 10px;
}

#profileOverview .info {
    display: block;
    padding: 10px;
    width: -webkit-fill-available
}

#profileOverview .statsCount {
    height: 37.5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 25%;
    margin-top: 20px;
    color: #6d717a;
}

#profileOverview .statsCount .workoutsCount {
    margin-left: 60px;
}

#profileOverview .statsCount .routesCount {
    margin-left: 20px;
}

#profileOverview .numMyRoutes {
    font-size: 22px;
}

#profileOverview .numMyWorkouts {
    font-size: 22px;
}


#profileOverview .actionLinks {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-decoration: none;
}

#profileOverview .createRouteButton {
    line-height: 35px;
    color: #2f98d9;
    text-decoration: none;
    width: 50%;
    text-align: center;
}

#profileOverview .logWorkoutButton {
    line-height: 35px;
    color: #2f98d9;
    text-decoration: none;
    border-left: .5px solid lightgray;
    width:50%;
    text-align: center;
}

#profileOverview .logWorkoutButton:hover {  
    color: #92BFDD;
}

#profileOverview .createRouteButton:hover {  
    color: #92BFDD;
}
