
#profileOverview {
    box-shadow: 1px 1px 1px lightgrey;
    height: 130px;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 30px;
    border: .5px solid lightgray;
    background-color: #f0f2f4;
    color: rgb(34, 38, 40);
    font-family: Roboto;
}

#profileOverview .flexedTop {
    display: flex;
}

#profileOverview .profilePic {
    background-image: asset-data-url("user.png");
    // hardcoded Jesse's face:
    // backg    round-image: asset-data-url("profile_pic_stand_in.png");
    background-size: cover;
    height: 100%;
    width: 25%;
}

#profileOverview .profilePic h1 {
    padding: 10px;
}

#profileOverview .info {
    display: block;
    padding: 10px;
    width: -webkit-fill-available
}

#profileOverview .statsCount {
    height: 37.5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 25%;
    margin-top: 20px;
}

#profileOverview .statsCount .workoutsCount {
    margin-left: 60px;
}

#profileOverview .statsCount .routesCount {
    margin-left: 20px;
}

#profileOverview .actionLinks {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-decoration: none;
    border-top: .5px solid lightgray;
}

#profileOverview .createRouteButton {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0075bf;
    text-decoration: none;
        width: 70%;
        text-align: center;
}

#profileOverview .logWorkoutButton {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0075bf;
    text-decoration: none;
    border-left: .5px solid lightgray;
        width:30%;
        text-align: center;
}

#profileOverview .createRouteButton {
    color: #0075bf;
    text-decoration: none;
}

#profileOverview .logWorkoutButton:hover {  
    font-weight: bold;
    text-decoration: underline;
}

#profileOverview .createRouteButton:hover {  
    font-weight: bold;
    text-decoration: underline;
}
