#routeShowContainer {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    align-items: center;
}

#routeShowContainer .routeShowInfoCard {
    border: .5px lightgray solid;
    box-shadow: 1px 1px 1px lightgray;
    height: 80%;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#routeShowContainer .routeShowInfoTitle {
    font-size: 30px;
    display: flex;
    height: 5%;
    margin-top: 20px;
}

#routeShowContainer .routeShowInfoBody {
    color: rgb(34, 38, 40);
    height: 66%;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

#routeShowContainer .routeShowInfo {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    // align-items: center;
    // justify-content: space-evenly;
}

#routeShowContainer .routeShowMap {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#routeShowContainer .mapImage {
    height: 100%;
    width: 100%;
}

#routeShowContainer .routeShowInfo .nonList {
    margin-bottom: 10px;
    width: 50%;
}

.routeWorkoutsCommentsList {
    list-style: none;
    margin-top: 20px;

     h2 {
        font-weight: bold;
        text-decoration: underline;
    }

    li div {
        margin-top: 6px;
        font-size: 12px;
    }
}


#routeShowContainer .actionButtons {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
    margin-bottom: 10px;
}

#routeShowContainer .editButton {
    width: 120px;
   font-size: 15px;
   height: 46px;
   border: none;
   color: white;
   background-color: #0075bf;
   transition: background-color 0.5s;
   text-decoration: none;
   border-radius: 4px;
   line-height: 46px;
   text-align: center;
   margin: 18px;
}

#routeShowContainer .deleteButton {
    width: 120px;
   font-size: 15px;
   height: 46px;
   border: none;
   color: white;
   background-color: rgb(187, 25, 25);
   transition: background-color 0.5s;
   text-decoration: none;
   border-radius: 4px;
   line-height: 46px;
   text-align: center;
   margin: 18px;
}

#routeShowContainer .deleteButton:hover {
    background-color: rgb(215, 20, 20);
    cursor: pointer;
}

#routeShowContainer .editButton:hover {
    background-color:#2f98d9;
    cursor: pointer;
}