@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#signupFormContainer {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    position: relative;
}

#signupFormContainer .loginLinkContainer {
    display: flex;
    width: 320px;
    position: relative;
    height: 36px;
}

#signupFormContainer .loginLink {
    margin-bottom: 10px;
    right: 0px;
    text-decoration: none;
    color: gray;
    position: absolute;
}

#signupFormContainer .loginLink:hover { 
    cursor: pointer;
     color: #9297A3;
}

#signupFormContainer p {
    color: gray;
    padding: 10px;
}

//TO DO: figure out the line under the OR
// #signupFormContainer .signupForm {
//     // border-top: 1px solid gray;
// }

#signupFormContainer input {
    height: 50px;
    font-size: 16px;
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 12px;
    line-height: 50px;
}

#signupFormContainer select {
    height: 56px;
    font-size: 16px;
    width: 358px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 12px;
    line-height: 56px;
    color: gray;
    border: .5px solid lightgray;
    background-color: white;
    border-radius: 0;
}

#signupFormContainer .signupForm {
    display: flex;
    flex-direction: column;
}

//this will also apply to the Login component facebook button
.facebookSignIn {
    font-size: 14px;
    background-color: rgb(59, 89, 152);
    color: white;
    width: 320px;
    height: 40px;
    font-size: 14px;
    padding-left: 18px;
    padding-right: 18px;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
}

.facebookSignIn:hover {
    cursor: pointer;
}   

#signupFormContainer .signupButton {
    width: 120px;
    height: 46px;
    line-height: 23px;
    margin-top: 10px;
    color: white;
    text-align: center;
    align-self: center;
}

#signupFormContainer .signupButton:hover {
    cursor: pointer;
}





