
 @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

 #splash {
     height: 1000px;
     background-image: asset-data-url("photo-1496163668521-39614a16b23f.jpeg");
     font-family: Roboto;
      box-shadow: inset 0px 8px 80px -8px #CCC;
 }

 #splash .anchorDiv {
    position: relative;
    display: flex;
    justify-content: center;
 }

 #splash h1 {
    color: rgb(34, 38, 40);
    height: 36px;
    width: 530px;
    font-size: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 160px;
    font-weight: 900;
 }
    
#splash h2 {
    top: 240px;
    color: rgb(34, 38, 40);
   font-size: 30px;
    height: 36px;
    width: 500px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    position: absolute;
}

#splash .loginDiv {
   display: flex;
   width: 20%;
   margin-top: 300px;
   flex-wrap: wrap;
}

#splash .featureDesc {
    color: rgb(34, 38, 40);
    height: 36px;
    border-radius: 3px;
    margin: 0 auto;
    font-weight: none;
    font-size: 23px;
    // background-color: darkgrey;
    // top: 360px;
    // margin: 0 auto;
    // display: flex;
    // justify-content: center;
    // position: absolute;
}

#splash .featuresDiv {
   top: 450px;
   position: absolute;
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

#splash .featureContainer {
    width: 260px;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: rgba(128, 128, 128, 0.397);
    display: flex;  
    flex-direction: column;
    align-items: center;
}

#splash .signupButton {
    top: 310px;
    margin: 0 auto;
    text-align: center;
    height: 40px;
    font-style: normal;
    line-height: 40px;
    font-size: 15px;
    margin-top: 10px;
 }


 #splash .learnMoreButton {
    text-decoration: none;
    font-style: italic;
    color: white;
    border-radius: 5px;
    padding: 7px;
    transition: background-color 0.5s;
 }

 #splash a:hover {
    background-color: rgb(0, 164, 73);
 }

 #splash .learnMoreButton:hover {
    background-color: #0075bf;
 }
